@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --sky: #eaefff;
  --orange: #fe5c24;
  --blue: #0c3e72;
}
a {
  text-decoration: none !important;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

/* topbar start */
.topbar {
  background-color: var(--sky);
  width: 100%;
  padding: 16px 0;
}

.topbar-title {
  color: var(--orange);
  font-size: 14px;
  margin-right: 16px;
}
.country-list a {
  color: #0c3e72;
  font-size: 14px;
  margin: 0 16px;
}
.country-list a:hover {
  color: var(--orange);
}

.topbar .social-icon li {
  list-style: none;
  display: inline-block;
}
.text-right {
  text-align: right;
}
.topbar .social-icon li a i {
  color: #0c3e72;
  font-size: 14px;
  margin: 0 8px;
}
.text-right span {
  font-size: 14px;
  color: #0c3e72;
  margin-left: 22px;
}
.phone-icon i {
  color: var(--orange);
  margin-right: 6px;
}
/* topbar end */

/* mainheader start */
.main-header {
  padding: 20px 0px;
}
.book-btn {
  background-color: var(--orange);
  padding: 13px 30px;
  border: none;
  color: white;
  border: 1px solid var(--orange);
}
.nav-link {
  font-size: 16px;
  color: var(--blue) !important;
}
.nav-item {
  margin: 0 16px;
}
/* mainheader end */

/* banner start */
#banner {
  width: 100%;
  background-image: url(../images/martine/banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.banner-content {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
}
/* banner end */

/* boxbanner start */

/* boxbanner end */
