@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --sky: #eaefff;
  --orange: #fe5c24;
  --blue: #0c3e72;
}
a {
  text-decoration: none !important;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 1140px !important;
  margin: 0 auto;
}

/* topbar start */
.topbar {
  background-color: var(--sky);
  width: 100%;
  padding: 16px 0;
}

.topbar-title {
  color: var(--orange);
  font-size: 14px;
  margin-right: 16px;
}
.country-list a {
  color: #0c3e72;
  font-size: 14px;
  margin: 0 16px;
}
.country-list a:hover {
  color: var(--orange);
}

.topbar .social-icon li {
  list-style: none;
  display: inline-block;
}
.text-right {
  text-align: right;
}
.topbar .social-icon li a i {
  color: #0c3e72;
  font-size: 14px;
  margin: 0 8px;
}
.text-right span {
  font-size: 14px;
  color: #0c3e72;
  margin-left: 22px;
}
.phone-icon i {
  color: var(--orange);
  margin-right: 6px;
}
/* topbar end */

/* mainheader start */
.main-header {
  padding: 20px 0px;
}
.book-btn {
  background-color: var(--orange);
  padding: 13px 30px;
  border: none;
  color: white;
  border: 1px solid var(--orange);
}
.nav-link {
  font-size: 16px;
  color: var(--blue) !important;
}
.nav-item {
  margin: 0 16px;
}
/* mainheader end */

/* banner start */
#banner {
  width: 100%;
  background-image: url(../images/martine/banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}
.banner-content {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
}
.banner-content h6 {
  font-size: 24px;
  color: #fff;
  font-weight: 400;
}
.banner-content h1 {
  font-size: 120px;
  margin-bottom: 22px;
  line-height: 1;
  color: white;
  font-weight: 700;
}
.banner-content a {
  background-color: #2493e0;
  padding: 23px 79px;
  margin-top: 42px;
  display: inline-block;
  color: white;
}
/* banner end */

/* boxbanner start */
.tab-items {
  background-color: #fdfdfd;
  padding: 0 100px;
}

.tab-items ul li {
  list-style: none;
  display: inline-block;
  padding: 24px 16px;
}

.search-form {
  background-color: #fdfdfd;
  padding: 24px 0;
}
.search-box {
  margin-top: -72px;
  box-shadow: 0 10px 40px 0 rgba(221, 222, 222, 1);
}
.s-box-item-2 {
  position: relative;
}
.s-box-item-2 i {
  position: absolute;
  right: 22px;
  top: 50%;
  transform: translateY(-50%);
}
.s-box-item-3 {
  position: relative;
}
.s-box-item-3 i {
  position: absolute;
  right: 22px;
  top: 50%;
  transform: translateY(-50%);
}
.s-box-item {
  padding: 16px;
  width: 210px;
  border-color: #2493e0;
  color: #2493e0;
  margin: 0 12px;
}
.search-form input {
  border: 1px solid #2493e0;
}
.search-form input::placeholder {
  color: #2493e0;
}
.search-form i {
  color: #2493e0;
}
.search-btn {
  background: #fe5c24;
  padding: 16px 30px;
  border: 1px solid #fe5c24 !important;
  color: white;
}

.tab-items ul li {
  position: relative;
}
.tab-active {
  content: " ";
  position: absolute !important;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #2493e0;
  transition: 0.5s;
}

/* .tab-items ul li:hover::before {
  width: 100%;
  transition: 0.5s ease-in-out;
} */
.tab-items ul li:hover {
  cursor: pointer;
}
/* boxbanner end */

/* place-to-visit start */
#place-to-visit {
  width: 100%;
  padding: 100px 0px;
}
.section-title h2 {
  color: #0c3e72;
  font-size: 46px;
  line-height: 1.1;
  margin-top: 26px;
  font-weight: 600;
}
.section-title p {
  color: #777;
  font-weight: 400;
}

.item-overlay .category {
  background-color: var(--orange);
  padding: 10px 25px;
  color: white;
  font-weight: 400;
  margin-bottom: 12px;
  display: inline-block;
}
.item-overlay h3 {
  font-size: 30px;
  line-height: 36px;
  color: #fff;
  margin-bottom: 0;
}
.item-overlay p {
  color: #fff;
}
.place-review i {
  color: gold;
}
.place-review span {
  color: white;
}

.place-item {
  position: relative;
}
.place-item::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0c3e72;
  opacity: 0;
}
.place-item:hover::after {
  opacity: 0.75;
}
.item-overlay {
  position: absolute;
  bottom: 40px;
  left: 50px;
  opacity: 0;
  z-index: 9999;
  transition: 0.5s;
}
.place-item:hover .item-overlay {
  opacity: 1;
  transform: translateY(-10px);
  transition: 0.5s;
}

.discover-btn {
  background-color: var(--orange);
  padding: 10px 25px;
  color: white;
  font-weight: 400;
  margin-bottom: 12px;
  display: inline-block;
}

.discover-btn:hover {
  background-color: var(--sky);
}
/* place-to-visit end */

/* event start */
#events {
  width: 100%;
  background-image: url(../images/martine/eventbg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;
}
.event_slider_content {
  background-color: white;
  padding: 50px;
}
.event_slider_content h5 {
  color: var(--orange);
  margin-bottom: 18px;
}
.event_slider_content h2 {
  font-weight: 600;
  margin-bottom: 25px;
  color: #0c3e72;
}
.event_slider_content p {
  margin-bottom: 15px;
  color: #848484;
}

.owl-dots {
  display: none;
}
.owl-prev {
  position: absolute;
  left: 0;
  top: 50%;
  height: 80px;
  width: 80px;
  background: rgba(255, 255, 255, 0.5);
  color: var(--orange);
  font-size: 48px;
  text-align: center;
  border-radius: 100%;
  transform: translateY(-50%);
}
/* event end */

/* top hotel start */
#top-hotel {
  width: 100%;
  padding-bottom: 100px;
}
.h-item h3 {
  color: #0c3e72;
  font-size: 24px;
}
.h-item .place-item span {
  color: #000 !important;
}
.h-item .place {
  color: #a2a2a2;
}

.s-media-icon ul li {
  list-style: none;
}
.s-media-icon ul {
  padding-left: 0;
}
.s-media-icon ul li a i {
  background-color: rgba(255, 122, 75, 0.7);
  width: 40px;
  height: 40px;
  color: white;
  text-align: center;
  line-height: 40px;
  border-radius: 100%;
}
.share a i {
  background-color: rgba(150, 150, 150, 0.7);
  width: 40px;
  height: 40px;
  color: white;
  text-align: center;
  line-height: 40px;
  border-radius: 100%;
}
.h-item {
  position: relative;
  border-bottom: 1px solid #ddd;
  padding-bottom: 16px;
}
.hotel-hover {
  position: absolute;
  top: 40px;
  right: 20px;
}

.s-media-icon {
  opacity: 0;
  transform: scale(0);
}
.share a {
  transition: 1s;
  transform: scaleX(1);
}
.share a:hover {
  display: inline-block;
  transform: scaleX(0);
  transition: 0.3s;
}
.hotel-hover:hover .share a {
  display: inline-block;
  transform: scaleX(0);
  transition: 0.3s;
}
.hotel-hover:hover .s-media-icon {
  transform: scaleY(1);
  transition: 1s ease-in-out;
  opacity: 1;
}

/* top hotel end */

/* said section start */
#they-said {
  padding: 40px 0px;
  width: 100%;
  background-color: var(--blue);
}

.said-card {
  background-color: #0e477d;
  padding: 30px;
}

/* said section end */

/* offer section start */

.offer-body h3 {
  color: var(--blue);
  padding: 20px 0;
}
.offer-body p {
  color: #aaaaaa;
  font-size: 16px;
}
/* offer section end */

/* footer stat */
footer {
  background-color: #162b45;
  padding: 130px 0;
  width: 100%;
}
.f-title {
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 32px;
}
.f-place-list li {
  list-style: none !important;
}
.f-place-list li a {
  color: white;
  font-size: 15px;
}
.f-place-list li a {
  font-size: 15px;
  color: white;
  transition: 0.5s;
}
.f-place-list li a:hover {
  margin-left: 8px;
  transition: 0.5s;
}
.Subscribe-text {
  font-size: 15px;
  color: white;
}
.address {
  color: white;
  font-size: 15px;
}
.f-email {
  font-size: 14px;
  color: var(--orange);
}
.f-media-link li {
  list-style: none;
  display: inline-block;
}
.f-media-link li a {
  color: white;
}

.subs input {
  height: 50%;
  background-color: var(--blue);
  color: #eee;
  width: 70%;
  padding: 16px;
  border: none;
}
.subs button {
  background: var(--orange);
  color: white;
  height: 50px;
  width: 50px;
  border: none;
  font-size: 18px;
}
.subs input:focus {
  outline: none;
}
.subs input::placeholder {
  font-size: 15px;
}
.subs input:focus::placeholder {
  opacity: 0;
}

.footer-end {
  background-color: #08223a;
  text-align: center;
  color: #9b9b9b;
  padding: 50px 0;
}
.footer-end span {
  color: var(--orange);
}
/* footer end */

/* navbar sickey start */
.sticky {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: white;
  z-index: 9999;
  padding: 0;
}
/* navbar sickey end */

.sub-menu {
  background-color: turquoise;
  position: absolute;
  width: 120px;
  top: 68px;
  left: 0;
  opacity: 0;
}
.nav-item:hover .sub-menu {
  opacity: 1;
  transition: 0.5s;
}
.sub-menu ul li {
  list-style: none;
  line-height: 1.7;
}
.sub-menu ul li a {
  font-size: 15px;
  color: white;
}
.nav-item {
  position: relative;
}
