@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

body {
  font-family: "Readex Pro", sans-serif;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
header{
    width: 100%;
    padding: 15px 0px;
}

.navbar{
    display: flex;
    justify-content: space-between;
}
.menus ul li{
    display: inline-block;
    list-style: none;
}