@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Mulish:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --blue: #615cfd;
  --black: #1f1f1f;
}
a {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;

  font-family: "Roboto", sans-serif;
}

/* font-family: 'Mulish', sans-serif;

font-family: 'Roboto', sans-serif; */
/* banner styling :start */

header {
  width: 100%;
}
.nav-link {
  font-family: "Mulish", sans-serif;
  color: white !important;
}
.banner {
  width: 100%;
  height: 100vh;
  background-image: url(../images/startup/header.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(31, 31, 31, 0.8);
  background-blend-mode: overlay;
}

.banner-content {
  height: 100vh;
  display: flex;
  align-items: center;
}
.banner-content h1 {
  font-family: "Roboto", sans-serif;
  font-size: 78px;
  font-weight: 400;
  line-height: 84px;
  margin-bottom: 54px;
  color: white;
}

.banner-btn {
  background: var(--blue);
  color: white;
  display: inline-block;
  padding: 12px 33px;
  font-size: 16px;
  font-weight: 500;
  border: 0;
  border: 1px solid transparent;
  cursor: pointer;
  text-transform: capitalize;
  border-radius: 30px;
  text-decoration: none;
  font-family: "Mulish", sans-serif;
}
.banner-btn:hover {
  color: white;
}
.nav-item {
  margin: 0 12px;
}
.hello {
  font-family: "Mulish", sans-serif;
  color: white !important;
}
.hello::before {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  background-color: rebeccapurple;
}
/* banner styling :end */
/* font-family: 'Mulish', sans-serif;

font-family: 'Roboto', sans-serif; */

/* service section start */
.services {
  width: 100%;
  padding: 120px 0px;
}
.s-content h6 {
  position: relative;
  z-index: 3;
  font-size: 14px;
  font-weight: 500;
  color: var(--blue);
  text-transform: capitalize;
  margin-bottom: 19px;
  display: block;
  font-family: "Roboto", sans-serif;
}
.s-content h2 {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  line-height: 52px;
  font-weight: 400;
  color: var(--black);
  position: relative;
  z-index: 0;
  padding-bottom: 15px;
}

.service-items {
  margin-top: 60px;
}
.s-item {
  padding: 48px 35px 45px 35px;
  border: 2px solid #e8e8e8;
  border-radius: 5px;
}
.s-item h4 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: var(--black);
  margin-top: 29px;
  margin-bottom: 13px;
}
.s-item p {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 0;
}
.s-item:hover {
  border: 2px solid #615cfd;
}

/* service section end */
.a-left {
  background-image: url(../images/startup/about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.a-right {
  background-color: #212529;
  padding: 140px 140px 140px 100px;
}
.a-content h6 {
  color: white;
  position: relative;
  z-index: 3;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 19px;
  display: block;
  font-family: "Roboto", sans-serif;
}
.a-content h4 {
  color: white;
}
.a-content p {
  color: white;
}
.a-content a {
  color: white;
}

/* about section style start */

/* about section style end */
/* font-family: 'Mulish', sans-serif;

font-family: 'Roboto', sans-serif; */
